# Node.js dependencies
node_modules/

# PHP server configuration
php-server/config.php

# Composer files
composer.json
composer.lock
vendor/

# Build files
build/static/css/*.css
build/static/css/*.css.map
build/static/js/*.js
build/static/js/*.LICENSE.txt
build/static/js/*.js.map
build/asset-manifest.json
# Media files
build/static/media/*.png
build/static/media/*.jpg

# Ignore all build files but include the main index.html if needed
build/*
!build/index.html
