.Image-Scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  
}


.navigation-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-button {
    width: 70px; 
    cursor: pointer;
}
.image-container {
    height: 600px; 
    display: flex;
    overflow: hidden; 
    justify-content: center; 
    align-items: center
}

.SoftWareImg {
    height: 100%;
    width: auto; 
    object-fit: cover; 
    margin-top: 60px;
}


@media (max-width: 768px) {
    .image-container {
        height: 300px; /* Adjusted height for smaller screens */
    }

    .SoftWareImg {
        height: auto; /* Allow the height to adjust automatically */
        width: 100%; /* Image spans the full width */
        margin-top: 30px; /* Reduced margin for smaller screens */
    }

    .nav-button {
        width: 50px; /* Smaller buttons for smaller screens */
    }

    .navigation-buttons {
        gap: 10px; /* Reduce spacing between buttons */
    }
}