body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
}

.MenuBar-Container
{
    width: 750px;
    height: 750px;
    background-color: black(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px;

}

span{
    cursor: pointer;
    width: 100%;

}


.title-span {
    cursor: pointer;
    width: 100%;
    display: block; /* Sørger for at hele området er klikkbart */
    text-align: center; /* Sentrerer teksten */
    padding: 10px; /* Lagt til litt padding */
    background-color: black; /* Valgfritt: endre bakgrunnsfarge */
    border-radius: 5px; /* Valgfritt: avrundede kanter */
    color: white;
    font-style: normal;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title-span:hover {
    background-color: rgba(51, 77, 77, 0.2); /* Lysere bakgrunn ved hover */

}



.Modal .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ensures modal is vertically centered */
}

.Modal .modal-content {
    height: 750px; /* Set the modal height to 750px */
    max-width: 100%; /* Ensures it fits within the viewport */
    margin: auto;
}

.Modal .modal-body {
    overflow-y: auto; /* Add scroll if content exceeds height */
}
.Modal.fade .modal-dialog {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; /* Default transition */
}

.Modal.fade.show .modal-dialog {
    transform: none; /* Ensures modal is shown properly */
    opacity: 1;
}

.Modal.fade .modal-dialog {
    transform: translate(0, -25%); /* Initial position before the fade */
    opacity: 0; /* Initial opacity before fade in */
}
